body{
	margin: 0;
	padding: 0;
	background: url(Jhs.png);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.logo{
	width:130px;
	margin-left:600px;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: -110px 20px;
	color: #ffffff;
	font-size:20px;
}
.navbar ul li a{
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}
.navbar ul li a:hover{
	color: #009688;
}
.navbar ul li a:hover::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #009688;
	left: 0;
	bottom: -5px;
	transition: 0.3s;
}
h1{
	text-align: center;
	margin-top: -40px;
	margin-left: -40%;
	font-size: 35px;
	text-transform: uppercase;
	font-style: italic;
	color: #ffffff;
}
h2{
	text-align: center;
	margin-top: -0px;
	margin-left: -65%;
	font-size: 35px;
	text-transform: uppercase;
	font-style: italic;
	color: #ffffff;
}
.grade3 ul li{
	margin: 10px;
	margin-left: 125px;
	font-size: 20px;
	padding: 2px 0;
	display: flex;
	align-items: center; 
	justify-content: space-between;
	list-style: none;
	color: #ff6600;
}
.grade3 ul li a{
	text-decoration: none;
	position: center;
	margin: 0 9px;
	color: #ffff00;
}
.grade3 ul li a::after{
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}
.grade3 ul li a:hover{
	color: #21afde;
}
h3{
	text-align: center;
	margin-top: -335px;
	margin-left: -15%;
	font-size: 35px;
	text-transform: uppercase;
	font-style: italic;
	color: #ffffff;
}
.Gr3 ul li{
	margin: 9px;
	margin-left: 445px;
	font-size: 20px;
	padding: 2px 0;
	display: flex;
	align-items: center; 
	justify-content: space-between;
	list-style: none;
	color: #ff6600;
}
.Gr3 ul li a{
	text-decoration: none;
	position: center;
	margin: 0 9px;
	color: #ffff00;
}
.Gr3 ul li a::after{
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}
.Gr3 ul li a:hover{
	color: #21afde;
}
