body{
	margin: 0;
	padding: 0;
	background: url(Gr1.png);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.logo{
	width:150px;
	margin-left:610px;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: -110px 20px;
	color: #ffffff;
	font-size:20px;
}
.navbar ul li a{
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}
.navbar ul li a:hover{
	color: #009688;
}
.navbar ul li a:hover::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #009688;
	left: 0;
	bottom: -5px;
	transition: 0.3s;
}
h1{
	text-align: center;
	margin-top: -40px;
	margin-left: -45%;
	font-size: 25px;
	text-transform: uppercase;
	font-style: italic;
	color: #ffffff;
}
.grade2 ul li{
	margin: 10px;
	margin-left: 200px;
	font-size: 30px;
	padding: 2px 0;
	display: flex;
	align-items: center; 
	justify-content: space-between;
	list-style: none;
	color: #ff6600;
}
.grade2 ul li a{
	text-decoration: none;
	position: center;
	margin: 0 5px;
	color: #ffff00;
}
.grade2 ul li a::after{
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}
.grade2 ul li a:hover{
	color: #21afde;
}