/* Basic sample */

body{
	overflow:hidden;
	background-color:#0000ff;
	margin:0;
	padding:0;
}
.flipbook-viewport ul li{
	list-style: none;
	display: inline-block;
	margin: 80px 20px;
	color: #ffffff;
	font-size:20px;
}
.flipbook-viewport ul li a{
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
}
.flipbook-viewport ul li a:hover{
	color: #009688;
}
.flipbook-viewport ul li a:hover::after{
	content: '';
	height: 1px;
	width: 4%;
	background: #009688;
	left: 0;
	bottom: -4px;
	transition: 0.3s;
}
.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:180px;
	left:50%;
	margin-left:30px;
}

.flipbook-viewport .flipbook{
	width:822px;
	height:600px;
	left:-461px;
	top:-150px;
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}
